:root {
  --font-main: 'Noto Sans', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  --page-max-width: 1000px;
  --user-card-width: 300px;
  --issue-card-width: 300px;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
