# Node files
node_modules

# Build files
dist
dist-ssr

# Log files
logs
*.log
*.log*

# Lock files
# package-lock.json
# pnpm-lock.yaml
# yarn.lock

# IDE files
.idea
.vscode

# Cache files
.eslintcache

# dotenv environment variables files
.env.local
.env.test

# Test coverage files
coverage

# others
.DS_Store
*.local
